<div id="divMain">
{main}
</div>
	         	
			<div id="divToolbar">		

			<div class="function" id="divCatalog">
            <h3>网站目录</h3>
            {sort}
            </div>
            <div class="function" id="divArchives">
            <h3>文章归档</h3>
            {archive}
            </div>
            <div class="function" id="divLinkage">
			<h3>友情链接</h3>
			{link}
			</div>
			<div class="function" id="divStatistics">
			<h3>站点信息</h3>
			<ul>
			<li>版本:O-blog 2.6</li>
			<li>程序:<a href="http://www.phpblog.cn">PhpBlog.Cn</a></li>
			<li>编码:GB2312</li>
			<li><a href="http://validator.w3.org/check?uri=referer" target="_blank">XHTML 1.0</a>
			<a href="http://jigsaw.w3.org/css-validator" target="_blank">CSS 2.0</a></li>
			</ul>
			</div>
           
          </div>
			
		    <div id="divSidebar">

			<div class="function" id="divSearch">
			     <h3>站内搜索</h3>
			     <ul>
			     <li>
				 <form name="form1" method="post" action="{blogurl}index.php?do=search">
			      <input name="keyword" type="text" class="search-field" id="keyword" />
                  <input value="搜索" class="search_botton" type="submit" name="Submit" />
                </form>
				 </li>
			     </ul>
			</div>
			<div class="function" id="divPrevious">
			     <h3>最近发表</h3>
				 {lastblog}
			     </div>
			<div class="function" id="divComments">
			       <h3>最新评论</h3>
			       {lastRemark}
			</div>
			                                  
		</div>
