<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
	<meta name="keywords" content="O-blog,blog,PHP,Mysql,Web,Web Design,XHTML,CSS" />
	<meta name="description" content="O-blog,blog,PHP,Mysql,Web,Web Design,XHTML,CSS" />
	<link rel="stylesheet" href="{blogurl}templates/worldpress/calendar.css" type="text/css" media="all" />
	<link rel="stylesheet" href="{blogurl}templates/worldpress/style.css" type="text/css" media="all" />
	<script type="text/javascript" src="{blogurl}js/common.js"></script>
	<title>{blogname}</title>
</head>

<body>
<div id="container">

<!-- header ................................. -->
<div id="header">
	<h1><a href="{blogurl}">{static_blog_name}</a></h1>
</div>
<!-- /header -->

<!-- navigation ................................. -->
<div id="navigation">
	<form action="{blogurl}index.php?do=search" method="post">
		<fieldset>
			<input value="" name="keyword" id="s" />
			<input type="submit" value="Go!" id="searchbutton" name="searchbutton" />
		</fieldset>
	</form>

	<ul>
		<li class='selected'><a href="{blogurl}">HOME</a></li>
		<li><a href="{blogurl}index.php?do=gb">GUESTBOOK</a></li>
		<li><a href="{blogurl}rss.php">RSS 1.0</a></li>
		<li><a href="{blogurl}rss2.php">RSS 2.0</a></li>
	</ul>
</div>
<!-- /navigation -->