<!-- BEGIN list -->
<H1 class="date">{date} by {author}</H1>
<DIV class="entry">
<H1><a href="{path}" title="{onlytitle}">{title}</a></H1>
<DIV class="entrycontent" style="word-break:break-all;">
{content}
<BR><BR>
</DIV>
<DIV class="entryfooter">
<a href="index.php?do=class&amp;id={classid}">{className}</a> | <a href="{path}#remark">ÆÀÂÛ</a>({remarkNum}) | <a href="{path}#remark">ÒıÓÃ</a>({trackbackNum}) <!-- IF parent.show_viewcount -->| <a href="{path}">ÔÄ¶Á</a>(<script type="text/javascript" src="{parent.blogurl}count.php?do=get&amp;id={id}"></script>)<!-- ENDIF -->
</DIV>
</DIV>
<!-- END list -->

<div id="page" style="margin-left: 9px;margin-bottom: 9px;">{page}</div>