/**
 * 此css文件定义日历的样式，每个模板各有一个。
 */

 /* Calendar sytle. You can change more detailed sytle about it in calendar.css */
#calendar {
	margin-top: 15px;
}

/* 月日的 css */
.calendarHerder {
	font-size:11px;
	padding-top: 10px;
	text-decoration: none;
	margin-right: 9px;
}

a.calendarHerder:link,a.calendarHerder:visited,a.calendarHerder:hover,a.calendarHerder:active {
	text-decoration: none;
}

/* 最外面大单元格的 css */
.outTable {
	
}

/* 日期的table的 css */
#daytable {
	width:180px;
}


/* 日期单元格的 css */
.calendar {
	font-size:11px;
	text-decoration: none;	
}

/* 当天日期单元格的 css */
.riqi {
	font-weight: bold;
	background-color: #FFFFFF;
	border: 1px solid #AAAAAA;
}

/* 星期数单元格 css */
.weektd {
	background-color: #EEEEEE;
	border-bottom-width: 3px;
	border-bottom-style: solid;
	border-bottom-color: #AAAAAA;
}

/* 星期六和星期日的文字css */
.satsun {
	color:#FF0000
}

a.calendar {
	text-decoration: none;
	border-bottom-style: none;
}