<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>{blogname}</title>
<meta http-equiv="content-type" content="text/html; charset=gb2312" />
<meta content="o-blog,blog,php,mysql,web,web design,xhtml,css" name="description" />
<meta content="o-blog,blog,php,mysql,web,web design,xhtml,css" name="keywords" />
<meta content="phpblog.cn" name="author" />
<meta content="chinese" name="language" />
<link title="rss" href="{blogurl}rss2.php" type="application/rss+xml" rel="alternate" />
<link rel="stylesheet" href="{blogurl}templates/3feelings/calendar.css" type="text/css" media="all" />
<link rel="stylesheet" href="{blogurl}templates/3feelings/style.css" type="text/css" media="all" />
<link href="{blogurl}xmlrpc.php" rel="pingback" />
<script type="text/javascript" src="{blogurl}js/common.js"></script>
</head>

<body>
<div id="blog">
<div id="wrapper">
<div id="wrapperleft">
<div id="main">
<div id="header">
<h1 style="cursor: pointer" 
onclick="location.href='{blogurl}';">o-blog</h1></div>

<div id="obnav">
	<b>
	<a href="{blogurl}">&raquo; 首页</a>  
	<a href="{blogurl}index.php?do=gb">&raquo; 留言</a>  
	<a href="{blogurl}rss.php" target="_blank">&raquo; Rss 1.0</a>  
	<a href="{blogurl}rss2.php" target="_blank">&raquo; Rss 2.0</a>
	</b>
</div>
