{main}
</DIV>

<!-- MIDDLE COLUMN -->
<DIV id=middle>
<H1>Linkblog</H1>
<H2>日志导航</H2>
{calendar}
<H2>最新日志</H2>
{lastblog}
<H2>最新评论</H2>
{lastRemark}
</DIV></DIV>
<!-- RIGHT COLUMN ON OUTER WRAPPER -->

<DIV id=right>
<H1>Respection</H1>

<H2>搜索工具</H2>
<form name="form1" method="post" action="{blogurl}index.php?do=search">
<DIV>
<input name="keyword" type="text" id="keyword" /> <input name="Submit" type="submit" value="GO!" id="searchB" />
</DIV>
</form>

<!-- NAVIGATIONAL MENU -->
<H2>分类导航</H2>
{sort}
<H2>日志归档</H2>
{archive}
<H2>我的朋友</H2>
{link}

</DIV></DIV>