    <div id="footer">
      <div id="innerFooter"> Powered by <a href="http://www.phpblog.cn" target="_blank">O-Blog</a> | Template Modified  By <a href="http://www.phpblog.cn" target="_blank">FengSe</a>
       | Skin by <a href="http://blog.macrolong.com/" target="_blank">MacroLong</a>
		<br />Copyright 2004-2006 <a href="http://www.phpblog.cn" target="_blank">PhpBlog.Cn</a>. All Rights Reserved. 
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
loadSidebar();
</script>
</body>
</html>