<div class="rowcontainer">

<div class="twocolumn">
<div id="sidebar">

		<ul>
			<li><h2>Categories</h2>
				{sort}
			</li>
		</ul>

<div id="searchdiv">
	<form name="form1" id="searchform" method="post" action="{blogurl}index.php?do=search">
		<h2>Search</h2>
          <div>
            <input type="text" name="keyword" id="keyword" size="15" /> 
            <input type="submit" id="submit" value="Search" />
          </div>
	</form>
</div>

</div>
</div>
<div class="sixcolumn">
{main}
</div>

<!--close right sidebar-->

</div>
