<div id="articleList">
<!-- BEGIN list -->
<div class="title"><a href="{path}">{title}</a></div>
<div class="content">{content}</div>
<div class="ini"><a href="index.php?do=class&amp;id={classid}">{className}</a> | <a href="{path}#remark">ÆÀÂÛ</a>({remarkNum}) | <a href="{path}#remark">ÒıÓÃ</a>({trackbackNum}) <!-- IF parent.show_viewcount -->| <a href="{path}">ÔÄ¶Á</a>(<script type="text/javascript" src="{parent.blogurl}count.php?do=get&amp;id={id}"></script>)<!-- ENDIF --> | {author} | {date}</div>
<!-- END list -->
<div id="page">{page}</div>
</div>