/**
 * 此css文件定义日历的样式，每个模板各有一个。
 */

/* 月日的 css */
.calendarHerder {
	text-decoration: none;
	width:66px;
}

/* 最外面大单元格的 css */
.outTable {
	margin-left: 3px;
}

/* 日期的table的 css */
#daytable {
	width:200px;
}

/* 日期单元格的 css */
.calendar {
	text-decoration: none;
}

/* 当天日期单元格的 css */
.riqi {
	background-color: #F3F3F3;
}

/* 星期数单元格 css */
.weektd {

}

/* 星期六和星期日的文字css */
.satsun {
	color:#FF0000
}