<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<meta name="keywords" content="O-blog,blog,PHP,Mysql,Web,Web Design,XHTML,CSS" />
<meta name="description" content="O-blog,blog,PHP,Mysql,Web,Web Design,XHTML,CSS" />
<link rel="stylesheet" href="{blogurl}templates/xhtml/calendar.css" type="text/css" media="all" />
<link rel="stylesheet" href="{blogurl}templates/xhtml/style.css" type="text/css" media="all" />
<script type="text/javascript" src="{blogurl}js/common.js"></script>
<title>{blogname}</title>
</head>
<body>
<div id="main">
<div id="header">
<div id="blogname">{static_blog_name}</div>
</div>
</div>
<div id="main2">
<div id="navleft"></div>
<div id="navcontent"><a href="{blogurl}">首页</a> | <a href="{blogurl}index.php?do=gb">留言</a> | <a href="{blogurl}rss.php" target="_blank">RSS 1.0</a> | <a href="{blogurl}rss2.php" target="_blank">RSS 2.0</a></div>
<div id="navright"></div>
</div>
