<div id="main3">
<div id="sidebar">
<div id="sidebartop">
<div id="stleft"></div>
<div id="stright"></div>
</div>
<!-- start sidebar content -->
<div id="sidebarContent">
<h1>·ÖÀà</h1>
{sort}
<h1>ËÑË÷</h1>
<div id="search">
<form name="form1" method="post" action="{blogurl}index.php?do=search">
<input name="keyword" type="text" id="keyword" />
<input name="Submit" type="submit" value="GO!" id="searchB" />
</form>
</div>
</div>
<!-- end sidebar content -->
<div id="sidebarbo">
<div id="sbleft"></div>
<div id="sbright"></div>
</div>
</div>
<div id="mainContent">
<div id="mainContentTop">
<div id="mtleft"></div>
<div id="mtright"></div>
</div>
<!-- start main content -->
<div id="announce">{discribe}</div>
{main}
<!-- end main content -->
<div id="mainContentBo">
<div id="mbleft"></div>
<div id="mbright"></div>
</div>
</div>
<ul id="copy">

<li>&copy; O-blog All rights reserved</li>
<li>www.phpBlog.cn</li>
</ul>
</div>