<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<meta http-equiv="Content-Language" content="zh-cn" />
<meta content="all" name="robots" />
<meta name="author" content="O-blog,FengSe" />
<meta name="description" content="O-blog,phpBlog,FengSe" />
<meta name="keywords" content="O-blog,phpBlog,FengSe" />
<link rel="alternate" title="O-blog" href="{blogurl}rss2.php" type="application/rss+xml" />
<link rel="stylesheet" rev="stylesheet" href="{blogurl}templates/macrolong/style.css" type="text/css" media="all" />
<link rel="stylesheet" href="{blogurl}templates/macrolong/calendar.css" type="text/css" media="all" />
<script type="text/javascript" src="{blogurl}templates/macrolong/common.js"></script>
<script type="text/javascript" src="{blogurl}js/common.js"></script>
<title>{blogname}</title>
</head>

<body>
<div id="wrapper">
  <div id="innerWrapper">
    <div id="header">
      <div id="innerHeader">
        <div id="blogLogo"> </div>
        <div class="blog-header">
          <h1 class="blog-title"><a href="{blogurl}">{static_blog_name}</a></h1>
          <div class="blog-desc">{discribe}</div>
        </div>
        <div id="menu">
          <ul>
            <li><a href="{blogurl}" >首页</a></li>
            <li><a href="{blogurl}index.php?do=gb">留言</a></li>
            <li><a href="{blogurl}rss.php" target="_blank">RSS 1.0</a></li>
            <li><a href="{blogurl}rss2.php" target="_blank">RSS 2.0</a></li>
            <li><a href="javascript:showHideSidebar();" >开关侧边栏</a></li>
            <li><a href="{blogurl}admin/index.php"  target="_blank">管理登陆</a></li>
          </ul>
        </div>
      </div>
    </div>
