/**
 * 此css文件定义日历的样式，每个模板各有一个。
 */

 /* Calendar sytle. You can change more detailed sytle about it in calendar.css */
#calendar {
	margin-top: 15px;
}

/* 月日的 css */
.calendarHerder {
	font-size:11px;
	padding-top: 10px;
	text-decoration: none;
	width:66px;
	margin-right: 9px;
}

a.calendarHerder:link,a.calendarHerder:visited,a.calendarHerder:hover,a.calendarHerder:active {
	text-decoration: none;
}

/* 最外面大单元格的 css */
.outTable {
	background-color: #EEEEDD
}

/* 日期的table的 css */
#daytable {
	width:200px;
}


/* 日期单元格的 css */
.calendar {
	font-size:11px;
	text-decoration: none;
	background-color: #EEEEDD
	
}

/* 当天日期单元格的 css */
.riqi {
	font-weight: bold;
}

/* 星期数单元格 css */
.weektd {
	
}

/* 星期六和星期日的文字css */
.satsun {
	color:#FF0000
}

a.calendar {
	text-decoration: none;
	border-bottom-style: none;
}