<!-- main content start -->
<div id="divMain">
{main}
<div id="divSidebar">
<div class="function" id="divCalendar">
<h3>хуюЗ</h3>
<div class="year2006 month3">
</div>
</div>
<div class="function" id="divCatalog">
<h3>мЬу╬д©б╪</h3>
{sort}
</div>
<div class="function" id="divSearchPanel">
<h3>кякВ</h3>
<ul>
<li>
<form name="form1" method="post" action="{blogurl}index.php?do=search">
<input name="keyword" type="text" id="keyword" />
<input name="Submit" type="submit" value="GO!" id="searchB" />
</form>
</li>
</ul>
</div></div>
<!-- main content end -->
