<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="zh-CN" lang="zh-CN">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=gb2312"/>
	<meta http-equiv="Content-Language" content="zh-CN" />
	<link rel="stylesheet" rev="stylesheet" href="{blogurl}templates/xiaoshen/Stopdesign.css" type="text/css" media="screen" />
	<link rel="stylesheet" rev="stylesheet" href="{blogurl}templates/xiaoshen/list.css" type="text/css" media="screen" />
	<link rel="stylesheet" rev="stylesheet" href="{blogurl}templates/xiaoshen/print.css" type="text/css" media="print" />
	<link rel="stylesheet" rev="stylesheet" href="{blogurl}templates/xiaoshen/calendar.css" type="text/css" media="all" />
	<link rel="alternate" type="application/rss+xml" href="{blogurl}rss2.php" title="O-blog" />
	<script type="text/javascript" src="{blogurl}js/common.js"></script>
	<title>{blogname}</title>
</head>

<body class="single">
<div id="divAll">
	<div id="divPage">
	<div id="divMiddle">
		<div id="divTop">
			<h1 id="BlogTitle"><a href="{blogurl}" name="top">{static_blog_name}</a></h1>
			<h2 id="BlogSubTitle">{discribe}</h2>
		</div>

<div id="divNavBar">
<h3>导航</h3>
<ul>
<li><a href="{blogurl}">Index</a></li>
<li><a href="{blogurl}index.php?do=gb">Guestbook</a></li>
<li><a href="{blogurl}rss.php" target="_blank">RSS 1.0</a></li>
<li><a href="{blogurl}rss2.php" target="_blank">RSS 2.0</a></li>
<li><a href="{blogurl}admin/index.php" target="_blank">Admin</a></li>
</ul>
</div>
