<div id="content">
	<!-- BEGIN list -->
	<div class="entry">
		<h2><a href="{path}" title="{onlytitle}">{title}</a></h2>
			<p>{content}</p>
			<p class="info">
				<a href="index.php?do=class&amp;id={classid}" class="commentlink">{className}</a>
				<a href="{path}#remark" class="commentlink">{remarkNum} ÆÀÂÛ</a>
				<a href="{path}#remark" class="commentlink">{trackbackNum} Trackback</a>
				<em class="date">{date}</em>
			</p>
	</div>
	<!-- END list -->
	<p class="cutpage">{page}</p>
</div>