    <div id="bottom"> 本站采用<a href="http://creativecommons.org/licenses/by-nc-sa/2.5/deed.zh_TW" target="_blank">创作共用</a>版权协议，要求署名、非商业和保持一致。本站欢迎任何非商业应用的转载，但必须著名出自"<a href="http://www.phpblog.cn" target="_blank">O-blog</a>",保留原始链接，此外还必须标注原文标题和链接。<br />
      Powered by <a href="http://www.phpblog.cn" target="_blank">O-blog</a>. Template Created by <a href="http://www.4ngel.net/blog/angel/" target="_blank">Angel</a>, Modified by <a href="http://www.phpblog.cn" target="_blank">FengSe</a>.<br />
      Copyright &copy; 2004-2006. All Rights Reserved. </div>
  </div>
</div>
</body>
</html>
